@font-face {
    font-family: 'neuzeit';
    src: url('../../../fonts/urw_neuzeitgrotesktot-reg-webfont-webfont.eot');
    src: url('../../../fonts/urw_neuzeitgrotesktot-reg-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/urw_neuzeitgrotesktot-reg-webfont-webfont.woff') format('woff'),
         url('../../../fonts/urw_neuzeitgrotesktot-reg-webfont-webfont.ttf') format('truetype'),
         url('../../../fonts/urw_neuzeitgrotesktot-reg-webfont-webfont.svg#neuzeit_gro_t_otregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
