@media (max-width: 850px) {
    body {
        text-align: left;
    }
    header {
        width: 100%;
    }
    .github {
        display: none;
    }
    .experience-container {
        width: 100%;
        float: none;
        padding: 0 !important;
    }
    .twitter-feed {
        width: 100%;
        float: none;
        padding: 0 !important;
    }
    ul {
        padding-left: 4%;
    }
    .logos {
        text-align: center;
    }
}