.wrapper {
    padding: 12px 20px 100px;
}
ul {
    margin-top: 0;
}
header {
    width: 43.5%;
    margin-bottom: 3em;
    h2 {
        margin-top: .6em;
        font-size: 1em;
    }
}
.twitter-feed {
    width: 50%;
    float: left;
    position: relative;
    padding-right: 4%;
    padding-left: 6%;
    direction: rtl;
    text-align: right;
    img {
        max-width: 100%;
        max-height: 450px;
        width: auto;
        height: auto;
    }
    .loading-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 200px;
    }
    .twitter-text {
        margin-left: 40px;
    }
    .twitter-image {
        cursor: pointer;
        cursor: alias;
    }
    .twitter-date {
        margin-bottom: -1em;
    }
}
.experience-container {
    @extend %clearfix;
    width: 50%;
    float: left;
    padding-right: 6%;
}
.studio-experience {
    float: none;
    margin-top: 3em;
    .project:first-of-type {
        margin-top: 1em;
    }
}
.title {
    margin-bottom: 10px;
}
.logos {
    li {
        display: inline;
    }
    img {
        max-height: 1em;
        height: auto;
        width: auto;
        vertical-align: baseline;
    }
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    left: 0;
    top: 0;
    padding: 40px;
    cursor: pointer;
    user-select: none;
    img {
        box-shadow: 0 0 115px #000;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}