.wrapper {
    margin: 10px 20px 20px;
}
ul {
    margin-top: 0;
}
.experience {
    width: 50%;
    float: left;
    &:nth-child(1) {
        padding-right: 1.5%;
    }
    &:nth-child(2) {
        padding-left: 1.5%;
    }
}
.studio-experience {
    .project:first-of-type {
        margin-top: 1em;
    }
}
.project {
    ul {
        li {
            list-style: disc;
        }
    }
}
.title {
    margin-bottom: 10px;
}
.logos {
    margin-top: 40px;
    li {
        display: inline;
    }
    img {
        max-height: 50px;
        height: auto;
    }
}