%inline-block {
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

%clearfix {
    *zoom: 1;
    &:before,
    &:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }
    &:after {
        clear: both;
    }
}